.new-expense__add {
    /*width: 10rem;*/
    /*display: block;*/
}

.new-expense__button {
    /*margin-right: 0px;*/
    /*margin: 20%;*/
    margin: 0px 16px;
    background: #3a3a3a;
    font-weight: bold;
}

